.imageItem {
    display: inline-block;
    vertical-align: top;
    margin: 10px 23px 20px 0px;
    text-align: center;
    width: 210px;
}
.imageItem img {
    border: 5px solid #efefef;
    margin-bottom: 10px;
    width: 170px
}